
img{
width: 150px;
}


.destImg{
    width: 200px;
    padding: 6px;
    border: 2px solid brown;
    border-radius:50%;
    
}
#Index{
    color:crimson;
}
.flags{
    padding: 6px;
    border: 2px solid brown;
    border-radius:25%;
}

.CountryFormat{
    vertical-align: top;
    width: 100%;
}
ol li{
    text-decoration: dotted;
    color:brown;
}

h2{
    border-bottom: 3px dotted grey;
}
h2:hover{
    border-bottom: 6px dotted rgb(231, 230, 230);
}

.TablaNombre{
    vertical-align: top;
    vertical-align: baseline bottom;
    width: 0.1%;
    white-space: nowrap;
    
}


.FormatTable{
    vertical-align: top;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    
}

.FormatTable thead tr:nth-child(1){
    background-color: rgb(231, 230, 230);
    font-style: italic;
    font-weight: bold;
}

#FormatPhoto{
    width: 100px;
}
   
.Table_Photo{
    text-align: left;
    vertical-align: bottom;
    width: 0.1%;
    white-space: nowrap;
}

th{
    color: black;
}

.NormalTable tbody tr:nth-child(even){
    color:white;
    background-color:gray;
}
/*
tbody tr:nth-child(even){
    color:white;
    background-color:gray;
}
*/

p{
    padding: 1px;
    margin: 8px;
    border: 10px /*solid black*/;
}

/*
.dest_info{
    display: inline-block;
}
*/